/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.classicButton {
  background: linear-gradient(to bottom, #f7f7f7 5%, #dddddd 100%);
  background-color: #dddddd;
  border-radius: 28px;
  border: 1px solid #f7f7f7;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Verdana;
  font-size: 13px;
  padding: 5px 14px;
  text-decoration: none;
}

.classicButton:hover {
  background: linear-gradient(to bottom, #dddddd 5%, #f7f7f7 100%);
  background-color: #f5f5f5;
}

.classicButton:active {}

.greenButton {
  background: linear-gradient(to bottom, #4ad870 5%, #21bd33 100%);
  background-color: #4ad870;
  border-radius: 28px;
  border: 1px solid #21bd33;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana;
  font-size: 13px;
  padding: 5px 14px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

.greenButton:hover {
  background: linear-gradient(to bottom, #4fad1c 5%, #44c767 100%);
  background-color: #4fad1c;
}

.greenButton:active {}

.redButton {
  background-color: #d12e2e;
  border-radius: 28px;
  border: 1px solid #ab1919;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana;
  font-size: 13px;
  padding: 5px 14px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #662828;
}

.redButton:hover {
  background-color: #bd2a2a;
}

.redButton:active {}

input {
  font-family: Verdana;
  border-radius: 28px;
  padding: 8px 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #cfcfcf;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
}


.selectSvshi {
  position: relative;
  display: inline-block;
  width: 100%;
}

.selectSvshi select {
  font-family: Verdana;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 30px;
  outline: 0;
  border: 0px solid #000000;
  border-radius: 28px;
  background: #f4f4f4;
  color: #535353;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 30px;
}

.selectSvshi select::-ms-expand {
  display: none;
}

.selectSvshi select:hover,
.selectSvshi select:focus {
  color: #000000;
  background: #eaeaea;
}

.selectSvshi select:disabled {
  opacity: 0.8;
  pointer-events: none;
}

.selectSvshi_arrow {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 6px;
  height: 6px;
  border: solid #7b7b7b;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.selectSvshi select:hover~.selectSvshi_arrow,
.selectSvshi select:focus~.selectSvshi_arrow {
  border-color: #000000;
}

.selectSvshi select:disabled~.selectSvshi_arrow {
  border-top-color: #cccccc;
}

/* Checkbox style */

.control {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border: 0px solid #000000;
  border-radius: 7px;
}

.control:hover input~.control_indicator,
.control input:focus~.control_indicator {
  background: #e4e4e4;
}

.control input:checked~.control_indicator {
  background: #e87000;
}

.control:hover input:not([disabled]):checked~.control_indicator,
.control input:checked:focus~.control_indicator {
  background: #c66000;
}

.control input:disabled~.control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}

.control input:checked~.control_indicator:after {
  display: block;
}

.control-checkbox .control_indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.control-checkbox input:disabled~.control_indicator:after {
  border-color: #7b7b7b;
}

.control-checkbox .control_indicator::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: -1.3rem;
  margin-top: -1.3rem;
  background: #2aa1c0;
  border-radius: 3rem;
  opacity: 0.6;
  z-index: 99999;
  transform: scale(0);
}