name: CI
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  push:
    branches:
      - main
      - 'releases/**'

jobs:
  test-core:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - name: "Set environmental variables"
        run: |
            echo "SVSHI_HOME=$GITHUB_WORKSPACE" >> $GITHUB_ENV
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup JDK
        uses: actions/setup-java@v3.3.0
        with:
          distribution: zulu
          java-version: 11
      - name: Set up Python 3.10 for end to end tests
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'
      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        working-directory: src
      - name: Build and Test
        run: cd src/core && sbt -v clean coverage test && sbt -v coverage it:test && sbt coverageReport
      - name: Upload code coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: false
  test-generator:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'
      - name: "Set environmental variables"
        run: |
          echo "SVSHI_HOME=$GITHUB_WORKSPACE" >> $GITHUB_ENV
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        working-directory: src
      - name: Test with pytest
        run: |
          pytest --cov-config=.coveragerc --cov=. --cov-report=xml
        working-directory: src/generator
      - name: Upload code coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: false
  test-verification:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'
      - name: "Set environmental variables"
        run: |
          echo "SVSHI_HOME=$GITHUB_WORKSPACE" >> $GITHUB_ENV
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        working-directory: src
      - name: Test with pytest
        run: |
          pytest --cov-config=.coveragerc --cov=. --cov-report=xml
        working-directory: src/verification
      - name: Upload code coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: false
  test-runtime:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'
      - name: "Set environmental variables"
        run: |
          echo "SVSHI_HOME=$GITHUB_WORKSPACE" >> $GITHUB_ENV
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        working-directory: src
      - name: Test with pytest
        run: |
          pytest --cov-config=.coveragerc --cov=. --cov-report=xml
        working-directory: src/runtime
      - name: Upload code coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: false

  fail_if_pull_request_is_draft:
    if: github.event.pull_request.draft == true
    runs-on: ubuntu-18.04
    steps:
    - name: Fails in order to indicate that pull request needs to be marked as ready to review and unit tests workflow needs to pass.
      run: exit 1