name: CI
on:
  pull_request:
  push:
jobs:
  test-core:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup JDK
      uses: actions/setup-java@v2
      with:
        distribution: zulu
        java-version: 11
    - name: Build and Test
      run: cd core && sbt -v +test
  test-generator:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      working-directory: generator
    - name: Test with pytest
      run: |
        pytest
      working-directory: generator